body{
    background-color: azure;
    color: darkblue;
    font-family: Arial;
    margin: 0px;
}

main{
    padding: 10px;
}

footer{
    background-color: black;
    color: greenyellow;
    font-style: italic;
    padding: 10px;
    text-align: right;
}

header{
    background-color: black;
    color: greenyellow;
    padding: 10px;
}

a{
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}

a:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: darkgreen;
    text-decoration: none;
}

a:hover{
    background-color: lightpink;
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}
a:active{
    color: black;
    opacity: 0.3;
    text-decoration: none;
}